* {
  padding: 0;
  margin: 0;
}

.head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.head-left {
  padding-left: 40px;
}

.head-left a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #459e85;
}

.head-rigth {
  display: flex;
  padding-right: 40px;
}

.head-rigth a {
  text-decoration: none;
  color: black;
}

.head-rigth-content {
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  background-image: url("/frontend/images/background.jpg");
  background-size: cover;
}

.main-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  color: white;
}

.main-middle {
  display: flex;
  justify-content: space-evenly;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4%;
  width: 300px;
  height: 300px;
}

#departure #arrival {
  background-color: #eff2f1;
}

.search-rep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4%;
  width: 300px;
  height: 300px;
}

#img-search {
  height: 150px;
  border-bottom: 2px solid #4faa91;
}

.main-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  color: white;
}

.main-middle {
  display: flex;
  justify-content: space-evenly;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4%;
  width: 300px;
  height: 300px;
}

#departure #arrival {
  background-color: #eff2f1;
}

.search-rep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 4%;
  width: 300px;
  height: 300px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.trip-result {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.btn-book {
  width: 50px;
  height: 25px;
  background-color: #459e85;
  color: white;
  border-radius: 10%;
}

#img-search {
  height: 150px;
  border-bottom: 2px solid #4faa91;
}
